.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background-color: black;
}

.brandImage {
    width: 200px;
    height: auto;
}   